// Color Variables
$colorOne: #5DD3C3; // Light Green
$colorTwo: #373737; // Dark Grey
$colorThree: #FFFFFF; // White
$colorFour: #77C883; // Dark Green

// Font Variables
$fontOne: "Open sans", serif;
