body, html {
  margin: 0;
  padding: 0;
}

body {
  background: url("/assets/images/background_dof.png");
  background-position: center;
  background-size: cover;
}

.app {
  width: 100%;
  overflow-x: hidden;

  .app_container {
    position: relative;
    width: 300%;
  }
}
