body, html {
  margin: 0;
  padding: 0; }

body {
  background: url("/assets/images/background_dof.png");
  background-position: center;
  background-size: cover; }

.app {
  width: 100%;
  overflow-x: hidden; }
  .app .app_container {
    position: relative;
    width: 300%; }

.page_one {
  position: relative;
  width: 33.33%;
  float: left;
  margin-top: 80px; }

.page_one_header {
  width: 1080px;
  height: 400px;
  margin: auto;
  overflow-x: hidden; }

.page_one_content {
  width: 1080px;
  height: 400px;
  margin: auto;
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.page_two {
  position: relative;
  width: 33.33%;
  float: left;
  margin-top: 80px; }

.page_two_container {
  width: 1080px;
  height: 800px;
  margin: auto;
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.page_three {
  position: relative;
  width: 33.33%;
  float: left;
  margin-top: 80px; }

.page_three_container {
  width: 1080px;
  height: 800px;
  margin: auto;
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.banner_slider {
  position: relative;
  width: 4320px;
  height: 400px; }
  .banner_slider .banner_slides {
    list-style-type: none;
    width: 1080px;
    margin: 0px;
    padding: 0px;
    display: inline; }
    .banner_slider .banner_slides .slide {
      float: left;
      height: 400px;
      width: 1080px; }
    .banner_slider .banner_slides .slide_one {
      background: url("/assets/images/banner_one.jpg") no-repeat;
      background-size: cover;
      background-position: center; }
    .banner_slider .banner_slides .slide_two {
      background: url("/assets/images/banner_two.jpg") no-repeat;
      background-size: cover;
      background-position: center; }
    .banner_slider .banner_slides .slide_three {
      background: url("/assets/images/banner_three.jpg") no-repeat;
      background-size: cover;
      background-position: center; }

.content_features {
  width: 33.33%;
  height: 100%;
  float: left; }
  .content_features .feature_img {
    width: 140px;
    height: 140px;
    margin: auto;
    position: relative;
    top: 30px;
    border-radius: 50%; }
  .content_features .feature_title {
    width: 100%;
    height: 35px;
    position: relative;
    top: 45px;
    text-align: center;
    font-family: "Open sans", serif;
    font-size: 24px;
    font-weight: 100;
    user-select: none;
    cursor: default; }
  .content_features .feature_desc {
    width: 90%;
    height: 150px;
    position: relative;
    top: 60px;
    margin: auto;
    text-align: center;
    font-family: "Open sans", serif;
    font-weight: 100;
    user-select: none;
    cursor: default; }
  .content_features .feature_one {
    background: url("/assets/images/banner_one.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
  .content_features .feature_two {
    background: url("/assets/images/banner_two.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
  .content_features .feature_three {
    background: url("/assets/images/banner_three.jpg") no-repeat;
    background-size: cover;
    background-position: center; }

.app_navbar {
  position: fixed;
  width: 100%;
  left: 0px;
  height: 80px;
  z-index: 1;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF; }
  .app_navbar .navbar_container {
    width: 1080px;
    height: 100%;
    margin: auto; }
    .app_navbar .navbar_container .navbar_logo {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      height: 60px;
      width: 40px;
      background: url("/assets/images/logo.png") no-repeat;
      background-size: cover;
      background-position: center;
      float: left;
      user-select: none;
      cursor: default; }
    .app_navbar .navbar_container .navbar_title {
      font-size: 28px;
      font-weight: 300;
      float: left;
      left: 30px;
      user-select: none;
      cursor: default;
      color: #77C883;
      font-family: "Open sans", serif;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    .app_navbar .navbar_container .navbar_options {
      float: right;
      list-style: none;
      width: 310px;
      padding: 0;
      margin: 0;
      user-select: none;
      position: relative;
      right: -10px; }
      .app_navbar .navbar_container .navbar_options .navbar_options_text {
        display: inline-block;
        color: #77C883;
        font-family: "Open sans", serif;
        width: 100px;
        height: 50px;
        padding-top: 30px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;
        font-weight: 300;
        font-size: 20px;
        user-select: none; }
        .app_navbar .navbar_container .navbar_options .navbar_options_text:hover {
          background-color: #77C883;
          color: #FFFFFF; }

.review_title {
  position: relative;
  top: 70px;
  font-size: 64px;
  text-align: left;
  width: 90%;
  height: 80px;
  font-family: "Open sans", serif;
  font-weight: 300;
  margin: auto;
  user-select: none;
  cursor: default; }

.review_container {
  width: 50%;
  height: 300px;
  position: relative;
  top: 80px;
  float: left; }
  .review_container .review_avatar {
    width: 150px;
    height: 150px;
    background-color: pink;
    float: left;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 50%;
    transform: translateY(-50%); }
  .review_container .review_name {
    color: #77C883;
    font-family: "Open sans", serif;
    font-weight: 400;
    position: relative;
    float: left;
    top: 90px;
    left: 70px;
    font-size: 24px;
    user-select: none;
    cursor: default; }
  .review_container .review_desc {
    float: left;
    font-family: "Open sans", serif;
    font-weight: 300;
    position: relative;
    top: 110px;
    left: 70px;
    width: 55%;
    font-style: italic;
    user-select: none;
    cursor: default; }
  .review_container .user_one {
    background: url("/assets/images/user_one.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .review_container .user_two {
    background: url("/assets/images/user_two.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .review_container .user_three {
    background: url("/assets/images/user_three.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .review_container .user_four {
    background: url("/assets/images/user_four.png") no-repeat;
    background-size: cover;
    background-position: center; }

.exclusive_title {
  position: relative;
  top: 70px;
  font-size: 64px;
  text-align: left;
  width: 90%;
  height: 80px;
  font-family: "Open sans", serif;
  font-weight: 300;
  margin: auto;
  user-select: none;
  cursor: default; }

.exclusive_container {
  width: 50%;
  height: 300px;
  position: relative;
  top: 80px;
  float: left; }
  .exclusive_container .exclusive_name {
    color: #77C883;
    font-family: "Open sans", serif;
    font-weight: 400;
    position: relative;
    top: 75px;
    font-size: 24px;
    width: 78%;
    margin: auto;
    user-select: none;
    cursor: default; }
  .exclusive_container .exclusive_desc {
    font-family: "Open sans", serif;
    font-weight: 300;
    position: relative;
    top: 90px;
    width: 78%;
    margin: auto;
    text-align: left;
    user-select: none;
    cursor: default; }
  .exclusive_container .exclusive_media {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 30px;
    border-radius: 3px; }
  .exclusive_container .exclusive_media_one {
    background: url("/assets/images/banner_one.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
  .exclusive_container .exclusive_media_two {
    background: url("/assets/images/banner_three.jpg") no-repeat;
    background-size: cover;
    background-position: center; }

.prev_page {
  width: 55px;
  height: 55px;
  position: relative;
  left: -65px;
  top: -428px;
  float: left;
  z-index: 1;
  transform: translateY(-50%);
  transform: rotate(180deg);
  background: url("/assets/images/nav_arrow.png") no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  opacity: 1; }
  .prev_page.prev_page--disabled {
    opacity: 0.5; }
  .prev_page.prev_reviews {
    top: -308px !important; }
  .prev_page.prev_exclusives {
    top: -308px !important; }

.next_page {
  width: 55px;
  height: 55px;
  position: relative;
  right: -65px;
  z-index: 1;
  transform: translateY(-50%);
  top: -400px;
  float: right;
  background: url("/assets/images/nav_arrow.png") no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  opacity: 1; }
  .next_page.next_page--disabled {
    opacity: 0.5; }
  .next_page.next_reviews {
    top: -280px !important; }
  .next_page.next_exclusives {
    top: -280px !important; }

@media screen and (max-width: 1225px) {
  .prev_page {
    display: none; }

  .next_page {
    display: none; } }
